name: Cal's Test Action
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    name: Test Job
    steps:
      - name: Action See Me
        uses: calevans/action-see-me@master
        env:
          CALS_ENV_ONE: one
          CALS_ENV_TWO: two
          CALS_ENV_THREE: This one is three
      - name: PHP Version
          run: |
            php -i
