#
# This is a test action. Unless you've blindly copied and pasted it elsewhere,
# it's in the cals_test_repo repo. All it does is call
# calevans/action-see-me@master and then demponstrates how to run another
# command with the run: directive.
#
name: Cal's Test Action
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    name: Test Job
#
# Steps is an array I've started each step with a name but that's not necessary,
# it jsut makes it easier to read.
# Each step runs as it's own process. If you look closely at the output of the
# first step, you'll see the three environment variables defined displayed.
#
    steps:
      - name: Action See Me
        env:
          CALS_ENV_ONE: one
          CALS_ENV_TWO: two
          CALS_ENV_THREE: This one is three
        uses: calevans/action-see-me@master
      - name: PHP Version
        run: |
          php -i
      - name: PHP $_SERVER Superglobal
        run: |
          php -r 'print_r($_SERVER);'
